/* Fonts */

.fs-200 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.fs-300 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fs-400 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fs-500 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fs-600 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fs-700 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fs-800 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.fs-900 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Monrope font */
.ff-manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}
/* Monrope font */

/* Fonts */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: var(--dark-1);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

:root {
    --dark-1: #000000;
    --dark-2: #121212;
    --dark-3: #191919;
    --dark-4: #666666;
    --dark-5: #4C4C4C;
    --dark-6: #cccccc;
    --primary: #FAFF00;
    --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

/* reset, root - END */

/* ==== Header Area ====*/
.header-area {
    padding: 14px 0;
    .navbar {
        ul.navbar-nav {
            display: flex;
            gap: 40px;
            .nav-item {
                a.nav-link {
                    color: var(--dark-6);
                    text-transform: uppercase;
                    font-size: 14;
                    font-weight: 500;
                    line-height: 1.71;
                    padding: 0;
                    transition: all 180ms linear;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 0px;
                        height: 1px;
                        left: 0;
                        bottom: 0;
                        background: var(--primary);
                        transition: all 180ms linear;
                    }
                    
                    &:hover {
                        color: var(--primary);
                        &::after {
                            width: 33px;
                        }
                    }
                }
            }
        }
        .navbar-cta-btn {
            margin-left: 100px;
            button {
                background: var(--white);
                border: none;
                padding: 6px 20px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.7px;
                color: var(--dark-1);

            }
        }
    }
}
/* ==== Header Area ====*/


/* ==== Hero Area ====*/
.hero-area {
    background: url('../img/banner-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .hero-area-content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 90px 0 80px 0;
        min-height: calc(100vh - 84px);
    }

    .hero-area-content {
        max-width: 833px;
        margin: 0 auto;
        h1 {
            color: var(--white);
            font-size: 46px;
            font-weight: 300;
            line-height: 1.21;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.55;
            font-family: "Manrope", sans-serif;
            font-weight: 400;
            color: var(--white);
            margin-bottom: 30px;
        }
    }
}

//Common yellow color button
.common-yellow-btn {
    padding: 15px 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.8px;
    text-decoration: none;
    background: var(--primary);
    transition: all 180ms linear;
    color: var(--dark-1);

    &:hover {
        background: var(--white);
    }
}
//Common yellow color button

.hero-check-list-wrap {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    .single-check-list {
        color: var(--white);
        font-size: 24px;
        line-height: 1.41;
        padding-bottom: 26px;
        border-bottom: 1px solid var(--white);

        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: start;
        text-align: center;
    }
}

/* ==== Hero Area ====*/


/* ==== Hero Area ====*/
.occasions-feature-area {
    padding: 120px 0;
    background: var(--dark-2);
    .section-heading {
        max-width: 706px;
        margin: 0 auto;
        margin-bottom: 70px;
        h3 {
            font-size: 36px;
            line-height: 1.27;
            margin-bottom: 10px;
        }
        p {
            color: var(--dark-6);
            line-height: 1.62;
        }
    }

    .occasions-feature-item {
        background: linear-gradient(180deg, #191919 0%, #2D2D2D 100%);
        min-height: 256px;
        padding: 50px;
        .occasions-feature-icon {
            margin-bottom: 30px;
        }
        .occasions-feature-title {
            font-size: 16px;
            line-height: 1.62;
        }
    }
}
/* ==== Hero Area ====*/


/* ==== Footer Area ====*/
.footer-area {
    padding: 80px 0 28px 0;
    background: url('../img/footer-background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .footer-heading {
        font-size: 24px;
        line-height: 1.41;
        color: var(--white);
        margin-bottom: 60px;
    }

    .footer-features-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 88px;
        
        margin-bottom: 60px;
        overflow: hidden;
        .feature-item {
            max-width: 210px;
            margin: 0 auto;
            padding-bottom: 66px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                left: -80px;
                bottom: 0;
                width: 400%;
                height: 1px;
                background-color: var(--white);
                
            }
            .feature-icon {
                margin-bottom: 30px;
            }
            .feature-name {
                font-size: 14px;
                line-height: 1.71;
                margin-bottom: 10px;
            }
            .feature-description {
                font-size: 14px;
                line-height: 1.71;
                min-height: 48px;
            }
        }
    }

    .copyright-text {
        font-size: 16px;
        line-height: 1.62;
        margin-top: 80px;
    }
}
/* ==== Footer Area ====*/


/* ==== Multi Step Form Area ====*/

.multi-step-form-area {
    padding: 120px 0;
    background: url('../img/form-section-bg.svg');
    .section-title {
        h3 {
            font-size: 36px;
            line-height: 1.27em;
            margin-bottom: 10px;
        }
        p {
            color: var(--dark-6);
            line-height: 1.62;
        }
    }
    .multi-step-form-wrap {
        max-width: 742px;
        margin: 0 auto;
        background: var(--dark-3);
        padding: 60px;
        margin-top: 60px;

        .form-header-area {
            margin-bottom: 30px;
            h5 {
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                line-height: 1.71;
                color: var(--dark-6);
            }
        }
    }
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.ml-auto {
    margin-left: auto;
}


/* Form */

.form {
    margin: 0 auto;
    z-index: 1;
}

.input-group {
    margin: 0.5rem 0;

    label {
        color: var(--white);
    }
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
    transform-origin: top;
    animation: animate .5s;
}


/* Button */
.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.common_btn {
    // margin-top: 60px;
    padding: 7px 30px;
    display: inline;
    text-decoration: none;
    // width: min-content;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 700;
    border: 1px solid var(--white);
    transition: all 200ms;

    &:hover {
        color: var(--dark-2);
        background-color: var(--primary);
        border: 1px solid var(--primary);
    }
}

.btn-next {
    background-color: var(--white);
    color: var(--dark-1);
}

.btn-prev {
    background-color: transparent;
    color: #fff;
}

// .btn:hover {
//     box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary);
// }

textarea {
    resize: vertical;
}

/* Prefixes */

.input-box {
    display: flex;
    align-items: center;
    /* max-width: 300px; */
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
}

.input-box .prefix {
    font-weight: 300;
    font-size: 14px;
    color: rgb(117, 114, 114);
}

.input-box input {
    border: none;
    outline: none;
}

.input-box:focus-within {
    border-color: #777;
}

/* End Prefixes */


/* Progress bar */

.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: row;
    z-index: 99;
    width: 100%;
}

.progress-bar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: var(--dark-5) !important;
    z-index: 1;
}

.progress {
    background-color: #D9D9D9 !important;
    width: 0;
    transition: .5s;
    z-index: 99;
}

.progress-step {
    width: 10px;
    height: 3px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.address-field-frage {
    --bs-gutter-y: 20px;
    .form-label {
        text-transform: uppercase;
        color: var(--white);
        font-weight: 700;
        font-size: 12px;
        line-height: 1.16;
        margin-bottom: 10px;
    }

    .form-control {
        border: 1px solid var(--Dark-2, #4C4C4C);
        background: var(--Dark-1, #191919);
        height: 52px;
        padding: 18px 30px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.16;
        text-transform: uppercase;
        color: var(--white);
        border-radius: 0;
        transition: all 150ms;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: #B2B2B2;
            background: rgba(76, 76, 76, 0.30);
        }

        &::placeholder {
            color: var(--dark-6);
        }
    }

    .form-map-img {
        img {
            border: 1px solid var(--Dark-2, #4C4C4C);
            background: #C4C4C4;
        }
    }
}

// @keyframes animate {
//     from {
//         transform: scale(1, 0);
//         opacity: 0;
//     }

//     to {
//         transform: scale(1, 1);
//         opacity: 1;
//     }
// }

/* End Progress bar */

/* Add Experience Btn */


.add-exp-btn {
    color: #577d4c;
    border-right: 2px solid #577d4c;
    border-bottom: 2px solid #577d4c;
    padding: 0 10px 10px 0;
    text-decoration: none;
    font-weight: 600;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.add-experience {
    margin-bottom: 20px;
}



.checkbox-wrapper {
    display: inline-flex;
    flex-grow: 1;
    position: relative;
}


.first-step-checkbox-wrapper {
    display: flex;
    gap: 30px;
}

.checkbox-input {
	// Code to hide the input
	// clip: rect(0 0 0 0);
	// clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	// white-space: nowrap;

	&:checked + .checkbox-tile {
		border-color: var(--primary);
		// box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: #2260ff;
        background-color: rgba(255, 255, 255, 0.05);

		// &:before {
		// 	transform: scale(1);
		// 	opacity: 1;
		// 	background-color: #2260ff;
		// 	border-color: #2260ff;
		// }
		
		// .checkbox-icon, .checkbox-label {
		// 	color: #2260ff;
		// }
	}
	
	// &:focus + .checkbox-tile {
	// 	border-color: #2260ff;
	// 	box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
	// 	&:before {
	// 		transform: scale(1);
	// 		opacity: 1;
	// 	}
	// }
}


.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 212px;
	border: 1px solid var(--dark-4);
	background-color: #191919;
	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;

    &.second-checkbox-title {
        min-height: 176px;
    }
}

.checkbox-icon {
	transition: .375s ease;
	color: #494949;
	svg {
		width: 3rem;
		height: 3rem;
	}
}

.checkbox-label {
	transition: .375s ease;
	text-align: center;
    font-size: 14px;
    line-height: 1.71;
}

/* ==== Multi Step Form Area ====*/